{% extends "index.html" %}

{% block setmenu %}{% set curmenu = "home" %}{% endblock setmenu %}

{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}

{% block content %}
  {% set doc = get_section(path="doc/_index.md") %}
  {% set setup = get_page(path="doc/setup.md") %}
  <div class="ui vertical stripe teal inverted segment">
    <div class="ui equal width stackable grid container">
      <div class="row">
        <div class="column">
          <h3 class="ui header">Serve vector tiles</h3>
          <div class="ui list">
            <p class="item"><i class="star icon"></i>Live tiles from PostGIS geodata</p>            
            <p class="item"><i class="star icon"></i>Zero-configuration mode</p>
            <p class="item"><i class="star icon"></i>Embedded webserver</p>
            <p class="item"><i class="star icon"></i>Visual styling with Maputnik</p>
          </div>
        </div>
        <div class="column">
          <img src="./backend.jpg" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe olive inverted segment">
    <div class="ui equal width stackable grid container">
      <div class="row">
        <div class="column">
          <img src="https://github.com/pka/t-rex/raw/master/doc/t_rex_generate.gif" class="ui large bordered rounded image">
        </div>
        <div class="column">
          <h3 class="ui header">Generate vector tiles</h3>
          <div class="ui list">
            <p class="item"><i class="star icon"></i>Tile generation command with simple parallelization</p>
            <p class="item"><i class="star icon"></i>Generate configuration template</p>
            <p class="item"><i class="star icon"></i>Support for custom tile grids</p>
            <a class="ui huge primary button" href="{{doc.permalink | safe}}">Documentation <i class="right arrow icon"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe teal inverted segment">
    <div class="ui equal width stackable grid container">
      <div class="row">
        <div class="column">
          <h3 class="ui header">Easy to Use</h3>
          <div class="ui list">
            <p class="item"><i class="star icon"></i>Single executable - unzip and run</p>
            <p class="item"><i class="star icon"></i>Auto-detection of layers in database</p>
            <p class="item"><i class="star icon"></i>Single human readeable configuration file</p>
            <p class="item"><i class="star icon"></i>Automatic reprojection to grid CRS</p>
            <a class="ui huge secondary button" href="{{setup.permalink | safe}}">Try it <i class="right arrow icon"></i></a>
          </div>
        </div>
        <div class="column">
          <img src="./inspector.jpg" class="ui large bordered rounded image">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
