{% extends "index.html" %}

{% block title %}{{ config.title }} - {{ page.title }}{% endblock title %}

{% block content %}
<div id="contentgrid" class="ui grid">
  <div id="toc" class="three wide large screen only teal inverted column">
    {{ macros::toc(selected=page) }}
  </div>
  <div class="thirteen wide olive inverted column">
    {{ page.content | safe }}

    <div class="ui grid">
      <div class="ui eight wide column left aligned">
      {% if page.previous %}
        <a href="{{page.previous.path | safe}}">◄{{page.previous.title}}</a>
      {% endif %}
      </div>
      <div class="ui eight wide column right aligned">
      {% if page.next %}
        <a href="{{page.next.path | safe}}">{{page.next.title}}►</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block debug %}
{{ super() }}
{% endblock debug %}
