{% extends "index.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ config.title }} - {{ page.title }}{% endblock title %}

{% block content %}
<div id="contentgrid" class="ui grid">
  <div id="toc" class="three wide large screen only teal inverted column">
    {{ macros::toc() }}
  </div>
  <div class="thirteen wide olive inverted column">
    {{ page.content | safe }}

    <div class="ui grid">
      <div class="ui seven wide column left aligned">
      {% if page.previous %}
        <a href="{{page.previous.permalink | safe}}">◄{{page.previous.title}}</a>
      {% endif %}
      </div>
      <div class="ui two wide column center aligned">
        <a href="https://github.com/t-rex-tileserver/t-rex-website/edit/master/content/doc/{{page.slug}}.md">Edit page <i class="write icon"></i></a>
      </div>
      <div class="ui seven wide column right aligned">
      {% if page.next %}
        <a href="{{page.next.permalink | safe}}">{{page.next.title}}►</a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block debug %}
{{ super() }}
{% endblock debug %}
